# Auto detect text files and perform LF normalization
* text=auto eol=crlf

*.pas text eol=crlf
*.dfm text eol=crlf
*.dpr text eol=crlf
*.inc text eol=crlf
*.cfg text eol=crlf
*.dof text eol=crlf
*.dproj text eol=crlf
*.groupproj text eol=crlf


*.ico binary
*.res binary
*.bmp binary
